body{
	font-family: 'Crete Round', serif;
    background-image: url(back.png);
    background-position: center; 
}

#back{
    box-shadow: 0px 0px 3px 3px #BE878C;
}

#links{
	font-size: 20px;
	padding-top: 35px;
}

#aboutme{
	padding-bottom: 10px;
}

#titles{
	font-size: 20px;
	margin-top: 30px;
}

#background{
	background-color: #e5f2ff;
	border-radius: 15px;
	margin-bottom: 10px;
}

#dates{
	text-align: center;
}